@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .2s;
}
:root{
    --primary-color: #1E2022;
    --second-color: #F0F5F9;
    --hover-primary-color: #3d3d3d;
    --hover-second-color: #C9D6DF;
}
body{
    background-color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}